# -----------------------
# MLflow
# -----------------------
mlruns/
mlflow.db
*.mlflow

# -----------------------
# Hydra outputs
# -----------------------
outputs/
multirun/

# -----------------------
# Hydra sweep artifacts
# -----------------------
.sweep/


# -----------------------
# Old Files
# ----------------------
archive/