# -----------------------
# MLflow
# -----------------------
mlruns/
mlflow.db
*.mlflow

# -----------------------
# Hydra outputs
# -----------------------
outputs/
multirun/

# -----------------------
# Hydra sweep artifacts
# -----------------------
.sweep/


# -----------------------
# Old Files
# ----------------------
archive/


# -----------------------
# dummy
# ----------------------

Notebooks/dummy_data_example.ipynb
Notebooks/dummy_lipids.csv
Notebooks/dummy_proteins.csv


# -----------------------
# mnist datset
# ----------------------
Notebooks/mnist/
