# Core numerical stack
numpy<2.0
scipy
scikit-learn
pandas

# PyTorch
torch==2.2.1
torchvision

# Training / utilities
tqdm
matplotlib

# Config
hydra-core
omegaconf
pyyaml

# logging
mlflow

# sweeper
hydra-optuna-sweeper optuna